canvas {
    border: 1px solid black;
    display: none;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menuScreen {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#roleSelection {
    margin: 20px 0;
}

#roleSelection button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#rulesButton {
    width: 200px;
    height: auto;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoImage {
    width: 500px; /* Размер изображения */
    height: auto; /* Автоматическое поддержание пропорций */
    margin-right: 10px; /* Отступ между изображением и текстом */
}
#rulesList {
    margin-top: 20px;
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}